header {
  background-image: url("https://www.orama.com.br/static/img/fund-list/hero.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  display: grid;
  place-items: center;
  padding: 100px;

  h1 {
    color: #fff;
  }

  span {
    color: #fff;
  }
  // background-color: blue;
}
