.slider-component {
  input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #cecfd0;
    background-image: linear-gradient(#119c9f, #119c9f);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 1px;
    cursor: pointer;
    height: 4px;
    width: 100%;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-moz-range-thumb {
    background: #fff;
    border: solid 4px #505152;
    border-radius: 50%;
    box-shadow: 10px 10px 10px transparent;
    cursor: pointer;
    width: 9px !important;
    height: 9px !important;
  }

  input[type="range"]::-moz-range-track {
    height: 3px;
    background-image: linear-gradient(#119c9f, #119c9f);
  }

  input[type="range"]::-webkit-slider-thumb {
    // background: #fff;
    -webkit-appearance: none;
    background-color: #fff;
    border: solid 4px #505152;
    border-radius: 50%;
    margin-top: -6px;
    box-shadow: 10px 10px 10px transparent;
    cursor: pointer;
    width: 15px !important;
    height: 15px !important;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 3px;

    background-image: linear-gradient(#119c9f, #119c9f);
  }

  .slider-title {
    color: #666;
    font-size: 12px;
    font-weight: bold;
  }

  .slider-value {
    color: #444;
    font-size: 12px;
    font-weight: bold;
  }
}

// .slider{
// 	margin-bottom: 20px;
// 	width: 100%;
// }

// .slider-top h3, .slider-top h4{
// 	margin: 10px 10px 0 0;
// 	padding: 0;
// }

// .slider-top div{
// 	display: flex;
// 	width: 100%;
// 	justify-content: space-between;
// }
